version: 2
updates:
  - package-ecosystem: "pnpm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "Europe/Madrid"
    groups:
      everything:
        applies-to: version-updates
        patterns: ["*"]
    open-pull-requests-limit: 10
    commit-message:
      prefix: "deps"
      include: "scope"
